body{
    background-color:whitesmoke;
    font-family: 'Crimson Text', serif;
}
label, input{
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    width: 100%;
    max-width: 50px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h3{
    text-align:left
}
p{
    font-family: 'Crimson Text', serif;
    margin-inline: left;
    width: max-content;
    padding: 1%;

}