img{
    margin-top: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}
.presentacion {
    text-align: center;
    border-style:solid;
    border-color:black;
    border-width: thin;
    padding: 1%;
    width: auto;
    display: block;
    margin-inline: auto;
    width: max-content;
    font-family: 'Crimson Text', serif;
}
.descripcion{
    display: inline-block;
}
h1{
    text-align: center
}
header{
    background-color: whitesmoke;
    margin-top: 0px;
}
.nav-links{
    background-color:rgba(32, 178, 171, 0.691);
    margin:0px;
}
.nav-links li{
    display: inline-block;
    padding: 50px 20px;
    text-align: center;
    list-style: none;
}
.nav-links li a:hover{
    color:black;
    font-family: 'Josefin Sans', sans-serif;
}
footer{
    text-align: center;
}
.boton-js{
    font-weight: 700;
    color:withe;
    padding: 9px 25px;
    border-width: thin;
    border-radius: 50px;
    border-color: black;
}
.profile-container{
    text-align: center;
}
body{
    margin:0px;
    padding: 0px;
}
.laboral li{
    font-family: 'Crimson Text', serif;
    margin-left: 20px;
}
.laboral h3, h4{
    margin-left: 10px;
}
.formacion p{
    font-family: 'Crimson Text', serif;
    margin-left: 20px;
}
.formacion h3{
    margin-left: 10px;
}
.conocimientos li{
    font-family: 'Crimson Text', serif;
    margin-left: 20px;
}
.conocimientos h3{
    margin-left: 10px;
}
.descripcion li{
    font-family: 'Crimson Text', serif;
    margin-left: 20px;
}
.descripcion h3{
    margin-left: 10px;
}
